<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.testproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Testproject"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.Testproject.NoActionBar"></activity>
        <activity
            android:name=".Activity.LoginActivity"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.CartActivity" />
        <activity android:name=".Activity.ProductDetailActivity" />
        <activity android:name=".Activity.CheckoutActivity" />
        <activity android:name=".Activity.OrderHistoryActivity" />
        <activity android:name=".Activity.DetailOrderHistoryActivity" />
    </application>

</manifest>